body {
    background: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;

}

a:hover {
    text-decoration: none;
}

/*adding effect*/

.linformation {
    margin-top: 50px;

}

/*----*/

ul {
    padding: 0;
    margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header {
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
}

.logo {
    float: left;
}

.top-nav {
    float: right;
}

.top-nav ul li {
    display: inline-block;
    padding: 3.7em 1em;
}

.top-nav ul li a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.w3_agileits_services_grid {
    text-align: center;
    margin-top: 20px;
    width: 24%;
    margin-left: 1%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
    border: 1px solid #C2C2C2;

    padding-bottom: 20px;

}

.w3_agileits_services_grid_agile {
    padding: 1em;
}

.w3_agileits_services_grid_1 {
    margin: 0 auto;
}

.w3_agileits_services_grid_1 i {
    color: #212121;
    font-size: 3em;
    line-height: 2.4em;
}

.w3_agileits_services_grid_1 img {
    width: 100%;
}

.w3_agileits_services_grid_agile h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    letter-spacing: 3px;
    color: #ff401b;
    margin: 1em 0 1em;
    padding-bottom: .5em;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.w3_agileits_services_grid_agile h3:after {
    content: '';
    position: absolute;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    width: 20%;
    height: 3px;
    background: #212121;
    left: 40%;
    bottom: 0;
}

.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3:after {
    background: #ff401b;
    width: 60%;
}

.w3_agileits_services_grid_agile p {
    color: #555;
    line-height: 2em;
}

.w3_agileits_services_grid:hover .w3_agileits_services_grid_1 {
    background: #fff;

}

.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3 {
    color: black;

}



.w3_agileits_services_grid {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

/*
.side-nav ul li a{
    font-size: 1.1em;
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.side-nav ul {
    list-style-type: none;
    margin: 0;
    width: 100px;
    background-color: rgb(241, 241, 241);
    margin-left:80px;
    float:left;
    margin-top: 20px;
}
.side-nav li a:hover {
    background-color: #555;
    color: white;
}
*/

.top-nav ul li:hover,
.top-nav ul li.active {
    border-bottom: 7px solid #f8d62e;
}

.top-nav span.menu:before {
    content: url("../img/nav-ic.png")no-repeat 0px 0px;
    cursor: pointer;
    width: 100%;
}

.top-nav span.menu {
    display: none;
}

#slocation {
    font-size: 20px;
    margin-top: 40px;

}

/*--responsive media-quries--*/

@media(max-width:768px) {
    .top-nav ul {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 9999;
        left: 0%;
        margin: 0em;
        background: #f8d62e;
        top: 9.3em;
    }
    .top-nav span.menu {
        display: block;
        width: 100%;
        position: relative;
        text-align: right;
        padding: 3em 10px 0;
    }
    .top-nav ul li {
        display: block;
        float: none;
        padding: 1em 0.8em;
        text-align: center;
    }
    .top-nav ul li a,
    .top-nav ul li.active a {
        color: #fff;
        border: none;
        padding: 0;
    }
    .top-nav ul li:hover {}
    .top-nav ul li a:hover,
    .top-nav ul li.active:hover {
        color: #000;

    }
    .top-nav ul li:hover,
    .top-nav ul li.active {
        border: none;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: rgb(145, 145, 145, 0.3);
    color: #f8d62e
}

/*--- slider-css --*/

.slider {
    position: relative;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}


.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #a1a1a1;
    border-radius: 100px;
    margin-right: 10px;
}

.callbacks_here a:after {
    background: #ff0505;
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs li {
    display: inline-block;
}

ul.callbacks_tabs.callbacks1_tabs {
    position: absolute;
    bottom: 14px;
    z-index: 999;
    left: 9em;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.banner {
    display: block;
    z-index: 2;
    text-shadow: none;
    padding: 14em 3em 6em 6em;
    margin: 0;
    max-width: none;
    position: absolute;
    top: 131px;
    left: 51%;
    background: url("../img/back.png")0px 0px no-repeat;
    width: 564px;
    min-height: 526px;
}

.banner h2 {
    margin: 0 0 0.2em;
    color: #fff;
    font-size: 3.5em;
    font-weight: 900;
    text-align-last: center;
}

.sname h2 {
    margin-top: 20px;
    padding-left: 20px;
    color: dimgrey;
    font-size: 3.5em;
    font-weight: 900;
    text-align-last: center;
}

.banner p {
    color: #fff;
    font-size: 1.2em;

    font-weight: 900;
}

#p1 {
    font-size: 3em;
    color: red;
    padding: 4px;
}

h3.title {
    font-size: 4em;
    color: rgb(78, 83, 89);
    text-align: center;
    margin-bottom: 0.8em;
}

.about p {
    font-size: 1.2em;
    color: #999;
    line-height: 1.8em;
}

.about {
    margin-bottom: 20px;
}

/*--content--*/

.donate {
    text-align: center;
    padding: 5em 0;
}

.donate-grid p {
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
    width: 86%;
    margin: 0 auto;
}

.sit-in {
    text-align: left;
    padding: 4em 0;
}

.ad-in h5 {
    font-size: 1.7em;
    color: #ff0505;
    font-weight: 700;

}

.ad-in p {
    font-size: 1em;
    color: #888;
    font-weight: 700;
    margin: 1.3em 0;
    line-height: 1.6em;
}

/*----*/

/* General button style (reset) */

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    padding: 0.4em 3em;
    display: inline-block;

    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0px !important;
    text-decoration: none;
    font-size: 2em;
    border: 2px solid #ff0505;
    font-weight: 900;
    color: #ff0505;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1c */

.btn-1c:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff0505;
}

.btn-1c:hover,
.btn-1c:active {
    color: #fff;
}

.btn-1c:hover:after,
.btn-1c:active:after {
    width: 100%;
}

/*----*/

.btn1 {
    background: #ff0505;
    color: #fff;
    z-index: 1;
    padding: 0.5em 1em;
    font-size: 1.2em;
}

.btn-1d:after {
    border: 1px solid #ff0505;
    background: #fff;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-1d:hover,
.btn-1d:active {
    color: #ff0505;
}

/*----*/

/* Default Skin */

.wmuSlider {
    position: relative;
    overflow: hidden;
}

ul.wmuSliderPagination {
    display: none;
}

.wmuGallery .wmuGalleryImage {
    margin-bottom: 10px;
}

.wmuSliderPrev,
.wmuSliderNext {
    position: absolute;
    width: 37px;
    height: 37px;
    text-indent: -9999px;
    background: url("../img/img-sprite.png")no-repeat;
    z-index: 2;
    cursor: pointer;
}

.wmuSliderPrev {
    background-position: 0px 0px;
    right: 37px;
    bottom: 0em;
}

.wmuSliderNext {
    background-position: -33px 0px;
    right: 10px;
    bottom: 0;
}

.in-number {
    background: url("../img/pin.jpg") no-repeat center;
    min-height: 338px;
    display: block;
    width: 100%;
}

.in-number-in,
.grid-men {
    float: left;
    width: 50%;
}

.grid-men {
    padding: 3em 4em;
}

.welcome_box p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    width: 69%;
    margin: 0 auto;
}

.welcome_box {
    padding: 8em 0;
}

.grid-men {
    background: #cc9c4a;
}

.men-grid {
    float: left;
    width: 33.33%;
}

.men-grid span {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
}

.men-grid p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 700;
    width: 80%;
    margin: 0.5em 0;
}

/*----*/

.service-grid {
    padding: 3em 0;
}

.services-in {
    text-align: center;
    padding: 5em 0;
}

.services-in h3 {
    font-size: 3em;
    color: #000;
    font-weight: 900;
}

.ser-in h5 {
    font-size: 1.8em;
    font-weight: 700;
    color: #ff0505;

    margin: 1em 0 0;
}

.ser-in span {
    font-size: 1.5em;
    font-weight: 700;
    color: #000;

}

.ser-in p {
    font-size: 1em;
    font-weight: 700;
    color: #888;
    margin: 1.2em 0 2.2em;
}

/*-----*/

/*-----------------------------------------------------------------------------------*/

.b-link-stripe {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
}

.b-link-stripe .b-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.b-link-stripe .b-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    background: #f8d62e;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    /* lt-ie9 */
}

/* lt-ie9 */

.b-link-stripe:hover .b-line {
    visibility: visible;
}

.b-link-stripe .b-line1 {
    left: 0;
}

.b-link-stripe .b-line2 {
    left: 20%;
    transition-delay: 0.1s !important;
    -moz-transition-delay: 0.1s !important;
    -ms-transition-delay: 0.1s !important;
    -o-transition-delay: 0.1s !important;
    -webkit-transition-delay: 0.1s !important;
}

.b-link-stripe .b-line3 {
    left: 40%;
    transition-delay: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -ms-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2s !important;
    -webkit-transition-delay: 0.2s !important;
}

.b-link-stripe .b-line4 {
    left: 60%;
    transition-delay: 0.3s !important;
    -moz-transition-delay: 0.3s !important;
    -ms-transition-delay: 0.3s !important;
    -o-transition-delay: 0.3s !important;
    -webkit-transition-delay: 0.3s !important;
}

.b-link-stripe .b-line5 {
    left: 80%;
    transition-delay: 0.4s !important;
    -moz-transition-delay: 0.4s !important;
    -ms-transition-delay: 0.4s !important;
    -o-transition-delay: 0.4s !important;
    -webkit-transition-delay: 0.4s !important;
}

.b-link-stripe:hover .b-line {
    opacity: 1;
}

/*-----------------------------------------------------------------------------------*/

/*	Animation effects
/*-----------------------------------------------------------------------------------*/

.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
    font-size: 2em;
    font-weight: 400;
}

.b-animate img {
    margin-top: 27%;
    display: -webkit-inline-box;
    width: 12% !important;
}

/* lt-ie9 */

.b-animate-go:hover .b-animate {
    visibility: visible;
}

.b-from-left {
    position: relative;
    left: -100%;
}

.b-animate-go:hover .b-from-left {
    left: 0;
}

/*--404--*/

.page-found {
    text-align: center;
    padding: 5em 0;
    min-height: 450px;
}

.page-not-found h3 {
    font-size: 3em;
    font-weight: 600;
    color: black;
}

.page-found p {
    font-size: 2em;
    font-weight: 600;
    color: #a1a1a1;
    margin: 0 0 1em;
}

.cd-faq-items a {
    color: black;
    text-decoration: none;
}

.cd-faq-items a:hover {
    color: red;
}

.cd-faq {
    width: 90%;
    max-width: 1024px;
    margin: 2em auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.cd-faq ul {
    list-style: none;
}

.cd-faq:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (min-width: 768px) {
    .cd-faq {
        position: relative;
        margin: 4em auto;
        box-shadow: none;
    }
}

.cd-faq-categories a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 28px 0 16px;
    background-color: #4e5359;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    white-space: nowrap;
    border-bottom: 1px solid #555b61;
    text-overflow: ellipsis;
}

.cd-faq-categories a::before,
.cd-faq-categories a::after {
    /* plus icon on the right */
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #7f868e;
}

.cd-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.cd-faq-categories li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .cd-faq-categories {
        width: 20%;
        float: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
    .cd-faq-categories a {
        font-size: 13px;
        font-weight: 600;
        padding-left: 24px;
        padding: 0 24px;
        -webkit-transition: background 0.2s, padding 0.2s;
        -moz-transition: background 0.2s, padding 0.2s;
        transition: background 0.2s, padding 0.2s;
    }

    .cd-faq-categories a::before,
    .cd-faq-categories a::after {
        display: none;
    }
    .no-touch .cd-faq-categories a:hover {
        background: #555b61;
    }
    .no-js .cd-faq-categories {
        width: 100%;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-faq-categories {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        z-index: 2;
    }
    .cd-faq-categories a::before {
        /* decorative rectangle on the left visible for the selected item */
        display: block;
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #a9c056;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    .cd-faq-categories .selected {
        background: #42464b !important;
    }
    .cd-faq-categories .selected::before {
        opacity: 1;
    }
    .cd-faq-categories.is-fixed {
        /* top and left value assigned in jQuery */
        position: fixed;
    }
    .no-js .cd-faq-categories {
        position: relative;
    }
}

.cd-faq-items {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

.cd-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
}

.no-js .cd-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

@media only screen and (min-width: 768px) {
    .cd-faq-items {
        position: static;
        height: auto;
        width: 78%;
        float: right;
        overflow: visible;
        -webkit-transform: translateZ(0) translateX(0);
        -moz-transform: translateZ(0) translateX(0);
        -ms-transform: translateZ(0) translateX(0);
        -o-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        padding: 0;
        background: transparent;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-faq-items {
        float: none;
        width: 100%;
        padding-left: 220px;
    }
    .no-js .cd-faq-items {
        padding-left: 0;
    }
}

.cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
}

.cd-close-panel::before,
.cd-close-panel::after {
    /* close icon in CSS */
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
}

.cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-close-panel.move-left {
    right: 2%;
}

@media only screen and (min-width: 768px) {
    .cd-close-panel {
        display: none;
    }
}

.cd-faq-group {
    /* hide group not selected */
    display: none;
}

.cd-faq-group.selected {
    display: block;
}

.cd-faq-group .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;
}

.no-touch .cd-faq-group .cd-faq-title:hover {
    box-shadow: none;
}

.cd-faq-group .cd-faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #bbbbc7;
}

.no-js .cd-faq-group {
    display: block;
}

@media only screen and (min-width: 768px) {
    .cd-faq-group {
        /* all groups visible */
        display: block;
    }
    .cd-faq-group > li {
        background: #ffffff;
        margin-bottom: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        -webkit-transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        transition: box-shadow 0.2s;
    }
    .no-touch .cd-faq-group > li:hover {
        box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }
    .cd-faq-group .cd-faq-title {
        margin: 2em 0 1em;
    }
    .cd-faq-group:first-child .cd-faq-title {
        margin-top: 0;
    }
}

.cd-faq-trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    .cd-faq-trigger {
        font-size: 24px;
        font-weight: 300;
        margin: 0;
        padding: 24px 72px 24px 24px;
    }
    .cd-faq-trigger::before,
    .cd-faq-trigger::after {
        /* arrow icon on the right */
        position: absolute;
        right: 24px;
        top: 50%;
        height: 2px;
        width: 13px;
        background: #cfdca0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .cd-faq-trigger::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 32px;
    }
    .cd-faq-trigger::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.cd-faq-content p {
    font-size: 14px;

    line-height: 1.4;
    color: #6c7d8e;
}

@media only screen and (min-width: 768px) {
    .cd-faq-content {
        display: none;
        padding: 0 24px 30px;
    }
    .cd-faq-content p {
        line-height: 1.6;
    }
    .no-js .cd-faq-content {
        display: block;
    }
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after,
*::before {
    content: '';
}

body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #4e5359;
    background-color: #f3f3f5;
}

body::after {
    /* overlay layer visible on small devices when the right panel slides in */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 83, 89, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

body.cd-overlay::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
    body::after {
        display: none;
    }
}

/*--what--*/

.banner-in {
    background: url("../img/banner.jpg") no-repeat center;
    width: 100%;
    min-height: 250px;
    display: block;
    position: relative;
    background-size: cover;
}

.banner-in h6 {
    font-size: 2em;
    font-weight: 700;
    color: #000;
    position: absolute;
    bottom: 33px;
}

.banner-in h6 span {
    color: #ff0707;
}

.we-head {
    padding: 0.5em 0 0.5em 0;
}

.we-head h3 {
    font-size: 3em;
    color: #000;
    font-weight: 700;

    margin: 0;
    padding: 0 0 0.3em;
}

.we-head P {
    color: #888;
    font-weight: 700;
    font-size: 1.1em;
}

.we-top-grid {
    margin: 1em 0;
}

.we-top-grid h4 {
    color: #000;
    font-weight: 700;

    font-size: 1.4em;
    margin: 0;
    padding: 0.5em 0 0.5em 0;
}

.we-top-grid p {
    color: #888;
    line-height: 1.7em;
    font-size: 1em;
    font-weight: 600;
}

.we-latest-news-grids {
    padding: 3em 0;
}

.we-latest-news-grid img {}

.we-latest-news-grid h4 {
    color: #000;
    font-weight: 700;
    font-size: 1.5em;

    margin: 0;
    padding: 0.6em 0;
}

.we-latest-news-grid p {
    color: #888;
    line-height: 1.7em;
    font-weight: 600;
    font-size: 1em;
}

.what-we {
    padding: 4em 0;
}

/*--gallery--*/

.project h3 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
}

.project {
    padding: 4em 0;
}

/******** SAP ************/

.sap_tabs {
    clear: both;
    padding: 0em 0 0em;
}

.tab_box {
    background: #fd926d;
    padding: 2em;
}

.top1 {
    margin-top: 2%;
}

.resp-tabs-list {
    float: right;
    list-style: none;
    margin: 3em 0;
    padding: 0;
}

.resp-tab-item {
    color: #A4A4A4;
    cursor: pointer;
    margin: 0px 10px 0;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;


}

.resp-tab-active {
    text-shadow: none;
    color: #000;
}

.resp-tabs-container {
    margin-top: 20px;
    padding: 0px;
    background-color: #fff;
    clear: left;

}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.img-top {
    margin-bottom: 30px;
    position: relative;
    padding: 0 10px !important;
}

.img-top img {
    width: 100%;
}

.fashion h5 {
    font-size: 1.3em;
    margin: 0;
    color: #000;

    font-weight: 700;
}

.fashion {
    padding: 2em 0;
}

.fashion p {
    font-size: 1em;
    margin: 0 0 0.6em;
    padding: 0.3em 0;
    color: #888;
    font-weight: 600;
}

/*--blog--*/

.blog {
    padding: 4em 0;
    padding-left:
}

.text-in {
    padding: 2em 0;
}

.blog h3 {
    font-size: 3em;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.text-in p {
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
    margin: 0 0 1em;
}

.blog-men p {
    color: #888;
    font-size: 1em;
    margin: 0;
    padding: 1em 0 0.5em;
    width: 90%;
    line-height: 23px;
}

.store-right h6 {
    margin: 0 0 0.5em;
    font-size: 1.5em;
    font-weight: 600;
}

ul.store-men li {
    list-style: none;
    border-bottom: 1px solid #D3CFCF;
    padding: 1em 0;
}

ul.store-men li.last {
    border: none;
}

ul.store-men li a span {
    height: 18px;
    width: 18px;
    background: transparent url("../img/img-sprite.png") -312px -16px;
    display: inline-block;
    margin: 0 1.5em 0 0;
}

ul.store-men li a {
    text-decoration: none;
    font-size: 1em;
    color: #888;
    font-weight: 600;
}

ul.store-men li a:hover {
    color: #ff0505;
}

.store-right {
    padding: 2em 0;
}

.btn2 {
    font-size: 1em;
    padding: 0.5em 0.8em;
}

/*--contact--*/

.contact h3 {
    font-size: 3em;
    text-align: center;
    color: #000;
    font-weight: 700;
    margin: 0 0 1em;
}

.contact-us input[type="text"],
.contact textarea,
.send input[type="submit"] {
    font-size: 1.2em;
    width: 100%;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    background: #fff;
    outline: none;
    border: 1px solid #D6D5D5;
    color: #8B8A8A;
    -webkit-appearance: none;
}

.contact textarea {
    resize: none;
    width: 97%;
    margin: 0.5em 1.5em;
}

.send input[type="submit"] {
    background: #F93133;
    color: #fff;
    font-size: 1.4em;
    width: 15%;
    margin: 0.5em 1.3em;
    border: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.send input[type="submit"]:hover {
    background: #f8d62e;
}

.sit-contact h5 {
    font-size: 1.5em;
    margin: 0;
    color: #000;
    font-weight: 600;
}

.contact-add p {
    font-size: 1em;
    margin: 0;
    color: #000;
    padding: 0.2em 0;
}

.contact-add {
    padding: 3em 0;
}

ul.face {
    padding: 0;
    margin: 0;
}

ul.face li {
    display: inline-block;
}

ul.face li a {
    text-decoration: none;
    font-size: 1em;
    color: #000;
}

ul.face li a:hover,
ul.face li.active a {
    color: #ff0505;
}

.map {
    position: relative;
}

.map iframe {
    width: 100%;
    height: 500px;
    display: block;
    border: none;
}

.contact-bottom {
    padding: 4em 0;
    padding-left: 4em;


}

.contact {
    padding: 4em 0;
}

/*--single--*/

ul.comment-list {
    border: 1px solid #EEE;
    padding: 2em;
    list-style: none;
    margin: 3em 0;
    list-style: none;
}

.desc p {
    font-size: 0.95em;
    line-height: 1.5em;
    color: #999;
    margin-top: 2em;
}

h5.post-author_head {
    line-height: 1.2em;
    font-size: 1.2em;

    color: #999;
    margin: 0 0 0.5em;
}

h5.post-author_head a {
    color: #555;
}

ul.comment-list img {
    float: left;
    width: 10%;
    margin-right: 20px;
}

ul.comment-list .desc {
    overflow: hidden;
}

.tele {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 15px;
}

#cus {
    font-size: 20px;
}

/*--single--*/

.comments-area h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #555;

}

.comments-area p {
    padding: 8px 0;
    margin: 0;
}

.web-in {
    padding: 8px 0;
}

.comments-area label {
    display: block;
    color: #999;
}

.comments-area input[type="text"] {
    padding: 15px 20px;
    width: 75%;
    color: #999;
    font-size: 13px;
    border: none;
    background: #eee;
    outline: none;
    display: block;
}

.comments-area textarea {
    padding: 15px 30px;
    width: 90%;
    color: #999;
    font-size: 13px;
    outline: none;
    height: 200px;
    display: block;
    border: none;
    background: #eee;
    resize: none;
}

.sub-in input[type="submit"] {
    outline: none;
    cursor: pointer;

    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    background: #F93133;
    color: #fff;
    font-size: 1.4em;
    width: 22%;
    padding: 0.5em;
    border: none;
}

.sub-in input[type="submit"]:hover {
    background: #f8d62e;
}

/*--footer--*/

.footer {
    background: #292929;
    text-align: center;
    padding: 3em 0;
}

span.drop {
    background: url("../images/img-sprite.png")-60px -2px no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.footer p {
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;

    padding: 1em 0;
}

.footer p a {
    color: #ff0505;
    text-decoration: none;
}

.footer p a:hover {
    color: #fff;
}

.footer p span {
    display: block;
}

ul.social-icons li {
    display: inline-block;
}

ul.social-icons li a span {
    height: 48px;
    width: 48px;
    background: url("../img/img-sprite.png") -106px 0px no-repeat;
    display: inline-block;
    margin: 0 auto;
}

ul.social-icons li a span:hover {
    opacity: 0.6;
}

ul.social-icons li.twitter a span {
    background-position: -160px 0px;
}

ul.social-icons li.gmail a span {
    background-position: -209px 0px;
}

ul.social-icons li.print a span {
    background-position: -261px 0px;
}

p.footer-class {
    padding: 3em 0 0;
}

/*--responsive media-quries--*/

@media(max-width:1440px) {
    .banner {
        padding: 12em 1em 6em 5em;
        min-height: 452px;
    }
    @media(max-width:1336px) {
        .grid-men {
            padding: 2.3em 4em;
        }
        .banner {
            padding: 10em 1em 6em 5em;
            min-height: 410px;
        }
        .banner h2 {
            font-size: 3.2em;
        }
    }
    @media(max-width:1280px) {
        .banner h2 {
            font-size: 3em;
        }
        .banner {
            min-height: 387px;
            width: 520px;
        }
        .grid-men {
            padding: 2.53em 4em;
        }
        .wmuSliderPrev,
        .wmuSliderNext {
            bottom: 20px;
        }
    }
    @media(max-width:1024px) {
        .banner {
            padding: 6em 1em 6em 3em;
            min-height: 285px;
            width: 435px;
        }
        .in-number {
            min-height: 310px;
        }
        .welcome_box {
            padding: 6em 0;
        }
        #portfoliolist .portfolio {
            width: 30.5%;
        }
    }
    @media(max-width:991px) {
        .btn1 {
            padding: 0.2em .6em !important;
            font-size: 1.1em !important;
        }
        .b-animate img {
            margin-top: 25%;
            width: 18% !important;
        }
        .img-top {
            margin-bottom: 30px;
            padding: 0 10px !important;
            float: left;
            width: 33.3333%;
        }
    }
    @media(max-width:768px) {
        .banner h2 {
            font-size: 2em;
        }
        .banner p {
            font-size: 1em;
        }
        .banner {
            padding: 2.5em 1em 0em 3em;
            min-height: 180px;
            width: 303px;
        }
        .donate-grid p {
            font-size: 1.3em;
        }
        .in-number-in,
        .grid-men {
            float: none;
            width: 100%;
        }
        .in-number {
            min-height: 209px;
        }
        .welcome_box {
            padding: 4em 0;
        }
        .col-md-4.ser-in {
            margin: 0 0 2em;
        }
        .ser-in p {
            margin: 1.2em auto 1.2em;
            width: 74%;
        }
        .services-in {
            padding: 2em 0;
        }
        .service-grid {
            padding: 2em 0 1em;
        }
        .btn {
            padding: 0.3em 2em;
            font-size: 1.5em;
        }
        .donate {
            padding: 3em 0;
        }
        .sit-in {
            padding: 2em 0;
        }
        .what-we {
            padding: 2em 0;
        }
        .we-latest-news-grid {
            margin: 0 0 2em;
        }
        .we-latest-news-grid p {
            width: 74%;
            margin: 0 auto;
        }
        #portfoliolist .portfolio {
            width: 29.7%;
        }

        ul.store-men li {
            width: 28%;
        }
        .blog {
            padding: 3em 0 1em;
        }
        .contact textarea {
            width: 95.5%;
            margin: 0.5em 0em 0 1.4em;
        }
        .contact-add {
            padding: 1em 0;
        }
        .sit-contact {
            margin: 0 0 1em;
        }
        .store-right {
            padding: 1em 0;
        }
        .fashion h5 {
            font-size: 1.2em;
        }
    }
    @media(max-width:667px) {
        .fashion h5 {
            font-size: 1.1em;
        }
    }
    @media(max-width:640px) {
        .logo img {
            width: 75%;
        }
        .top-nav span.menu {
            padding: 1.5em 10px 0;
        }
        .banner {
            padding: 3em 1em 0em 3em;
            min-height: 160px;
            width: 280px;
            top: 98px;
            left: 47%;
        }
        .banner h2 {
            font-size: 1.8em;
        }
        .banner p {
            font-size: 0.9em;
        }
        .donate-grid p {
            font-size: 1.2em;
            height: 50px;
            overflow: hidden;
        }
        .ad-in h5 {
            font-size: 1.4em;
        }
        .men-grid {
            width: 31.4%;
            margin-right: 1em;
        }
        .ad-right {
            margin-right: 0;
        }
        .grid-men {
            padding: 2em;
        }
        .services-in h3,
        .we-head h3,
        .project h3,
        .blog h3,
        .contact h3 {
            font-size: 2.5em;
        }
        p.footer-class {
            padding: 1em 0 0;
        }
        .banner-in {
            min-height: 205px;
        }
        #portfoliolist .portfolio {
            width: 45.5%;
        }
        .fashion {
            padding: 1.5em 0 0;
        }
        .true {
            display: none !important;
        }
        .project {
            padding: 2em 0;
        }
        .text-in p {
            font-size: 1.3em;
        }
        .text-in {
            padding: 1em 0;
        }
        .blog {
            padding: 2em 0 1em;
        }
        .blog-men p {
            font-size: 1em;
        }
        .contact {
            padding: 2em 0;
        }
        .contact textarea {
            width: 95%;
        }
        .map iframe {
            height: 280px;
        }
        ul.store-men li {
            width: 37%;
        }
        .sub-in input[type="submit"] {
            width: 28%;
        }
        .desc p {
            margin-top: 0.8em;
        }
        .img-top {
            padding: 0 7px !important;
        }
        .b-link-stripe .b-line {
            width: 20.1%;
        }
        .resp-tabs-list {
            margin: 2em 0;
        }
    }
    @media(max-width:600px) {
        .img-top {
            padding: 0 10px !important;
            width: 50%;
        }
    }
    @media(max-width:480px) {
        .logo img {
            width: 63%;
        }
        .top-nav span.menu {
            padding: 0.9em 10px 0;
        }
        .banner {
            padding: 2.3em 0em 0em 1.5em;
            min-height: 108px;
            width: 210px;
            top: 83px;
            left: 45%;
        }
        .banner h2 {
            font-size: 1.5em;
        }
        .banner p {
            font-size: 0.9em;
            height: 20px;
            overflow: hidden;
        }
        .callbacks_tabs a:after {
            margin-right: 4px;
        }
        ul.callbacks_tabs.callbacks1_tabs {
            left: 4em;
        }
        .sit-in {
            padding: 1em 0;
        }
        .welcome_box p {
            font-size: 1.1em;
            width: 84%;
        }
        .men-grid {
            width: 31%
        }
        .men-grid p {
            font-size: 1em;
        }
        .services-in h3,
        .we-head h3,
        .project h3,
        .blog h3,
        .contact h3 {
            font-size: 2em;
        }
        .ser-in h5 {
            font-size: 1.5em;
        }
        .ser-in span {
            font-size: 1.3em;
        }
        .footer {
            padding: 2em 0;
        }
        .footer p {
            font-size: 1.1em;
        }
        .we-top-grid h4 {
            font-size: 1.2em;
        }
        p.elit {
            display: none;
        }
        .we-latest-news-grid p {
            width: 94%;
        }

        #portfoliolist .portfolio {
            width: 43.9%;
        }
        .fashion h5 {
            font-size: 1.2em;
        }
        .fashion p {
            height: 48px;
            overflow: hidden;
        }
        .blog-men p {
            height: 111px;
            overflow: hidden;
        }
        ul.store-men li {
            width: 50%;
        }
        .store-right h6 {
            font-size: 1.3em;
        }
        .contact textarea {
            width: 93%;
        }
        .map iframe {
            height: 200px;
        }
        .sub-in input[type="submit"] {
            width: 36%;
        }
        .text-in p {
            font-size: 1.2em;
            margin-top: 0.4em;
        }
        .send input[type="submit"] {
            width: 22%;
        }
        .fashion h5 {
            font-size: 1.1em;
        }
        .btn1 {
            padding: 0.1em .5em !important;
            font-size: 1em !important;
        }
        .resp-tabs-list {
            float: none;
            text-align: center;
        }
    }
    @media(max-width:414px) {
        .fashion h5 {
            font-size: 1em;
        }
        .resp-tabs-list {
            margin: 2em 0 1.5em 0;
        }
        .resp-tab-item {
            font-size: 15px;
        }
        .img-top {
            padding: 0 4px !important;
        }
    }
    @media(max-width:384px) {
        .fashion h5 {
            font-size: .9em;
        }
        .resp-tab-item {
            font-size: 14px;
        }
    }
    @media(max-width:320px) {
        .logo img {
            width: 100%;
        }
        .logo {
            width: 52%;
        }
        .top-nav span.menu {
            padding: 1px 10px 0;
        }
        .banner {
            padding: 1.7em 0em 0em 1em;
            min-height: 63px;
            width: 164px;
            top: 62px;
            left: 45%;
        }
        .banner h2 {
            font-size: 1.2em;
        }
        .banner p {
            display: none;
        }
        ul.callbacks_tabs.callbacks1_tabs {
            left: 1em;
            bottom: 8px;
        }
        .donate {
            padding: 1.5em 0;
        }
        .donate-grid p {
            font-size: 1em;
            height: 41px;
        }
        .ad-in h5 {
            font-size: 1.2em;
        }
        .ad-in p {
            height: 42px;
            overflow: hidden;
            margin: 0.5em 0;
        }
        .btn {
            font-size: 1.2em;
        }
        .welcome_box p {
            font-size: 1em;
            width: 84%;
            height: 62px;
            overflow: hidden;
        }
        .welcome_box {
            padding: 2em 0 4em;
        }
        .in-number {
            min-height: 146px;
        }
        .men-grid p {
            font-size: 0.9em;
            line-height: 17px;
            margin: 0 0 0.5em;
        }
        .men-grid span {
            font-size: 2em;
        }
        .grid-men {
            padding: 1em;
        }
        .ad-right {
            display: none;
        }
        .number-ape {
            margin-right: 0;
        }
        .men-grid {
            width: 47%;
        }
        .services-in h3,
        .we-head h3,
        .project h3,
        .blog h3,
        .contact h3 {
            font-size: 1.7em;
        }
        .what-we,
        .project {
            padding: 1em 0;
        }
        .services-in,
        .service-grid {
            padding: 1em 0 0;
        }
        .ser-in h5 {
            font-size: 1.3em;
        }
        .ser-in span {
            font-size: 1.1em;
        }
        .ser-in p {
            margin: 0.2em auto 0.5em;
            width: 98%;
            height: 36px;
            overflow: hidden;
            font-size: 0.9em;
        }
        .btn1 {
            font-size: 1em;
        }
        .ser-in {
            margin: 0 0 1em;
        }
        p.footer-class {
            padding: 0em 0 0;
        }
        .footer {
            padding: 1em 0;
        }
        .banner-in {
            min-height: 130px;
        }
        .banner-in h6 {
            font-size: 1.5em;
            bottom: 18px;
        }
        .we-head P {
            font-size: 1em;
        }
        .we-top-grid {
            margin: 0em 0;
        }
        .we-top-grid h4 {
            font-size: 1.1em;
        }
        .we-top-grid p {
            line-height: 1.6em;
            font-size: 0.9em;
            height: 84px;
            overflow: hidden;
        }
        .we-latest-news-grid h4 {
            font-size: 1.2em;
        }
        .we-latest-news-grid p {
            font-size: 0.9em;
        }
        .we-latest-news-grids {
            padding: 0em 0;
        }
        .page-found {
            padding: 1em 0px;
            min-height: 300px;
        }
        #filters li span {
            font-size: 14px;
        }
        #portfoliolist .portfolio {
            width: 46.2%;
            margin: 5px;
        }
        .fashion h5 {
            font-size: 1em;
        }
        .fashion p {
            font-size: 0.9em;
            height: 40px;
        }
        .text-in p {
            font-size: 1.1em;
        }
        .text-in p {
            font-size: 0.9em;
        }
        ul.store-men li {
            width: 83%;
        }
        ul.comment-list {
            padding: 1em;
            margin: 1em 0;
        }
        .desc {
            font-size: 1em;
        }
        .comments-area h3 {
            font-size: 1.4em;
        }
        .contact {
            padding: 1em 0;
        }
        .contact textarea {
            width: 89%;
        }
        .sit-contact h5 {
            font-size: 1.2em;
        }
        .map iframe {
            height: 150px;
        }
        .send input[type="submit"] {
            width: 30%;
            font-size: 1.2em;
        }
        .sub-in input[type="submit"] {
            width: 60%;
            font-size: 1.2em;
        }
        .contact-bottom {
            padding: 1em 0;
        }
        .img-top {
            padding: 0 0px !important;
            width: 100%;
        }
        .fashion p {
            height: initial;
            padding: .6em 0;
        }

        .fashion h5 {
            font-size: 1.2em;
        }
        .donation ul {
            margin: 50px;
            font-family: sans-serif;
            font-size: 15px;
        }
        .resp-tab-item {
            margin: 0px 3px 0;
        }
    }
    .b-animate {
        color: red;
    }
